/* property box color */
.color{
  background: #ff4d4d;
}

.container{
  text-align: center;
  position: relative;
}

.pad{
  padding: 10px;
}

.col-6 [class*='col-'] {
  height: 100%;
  border: 1px solid white;
  padding: 10px;
}
